*{
    text-decoration:none;
}
.navbar{
    background: blueviolet;font-family: calibri;padding-left: 15px;padding-right: 15px;
}
.navdiv{
    display: flex;align-items: center;justify-content: space-between;
}
.logo{
    font-size: 35px;font-weight: 600;color: white;
}
li{
    list-style: none;display: inline-block;
}
li a{
    color: white; font-size: 18px;font-weight: bold;margin-right: 25px;
}
li a:hover{
    color:gray;
}
body{
    margin: 0;
    padding: 0;
    background: url("D:/vech/statics/style1.css");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: black;
   
}
.b{
  
    
    border: none;
    cursor: pointer;
    background-color:  rgba(255, 255, 255, 0.5);;
    color: none;
    
    backdrop-filter: blur(10px);
}
#signup
{
    height: 550px;
}
.loginbox{
    width: 330px;
    height:400px;
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box ;
    padding: 70px 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* blur the background */

}

.images2{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.btn{
    border:none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.logo{
    font-style: italic;
    font-family: al;
}
